body {
    background: #1b4875;
    text-align: center;
    overflow-x: hidden;
    margin: 0;
}

*{
box-sizing: border-box;
}

canvas {
    width: 95vmin;
    height: 95vmin;
    max-width: 600px;
    max-height: 600px;
    display: block;
    margin: 0 auto;
    border: 10px solid  #031527;
    touch-action: none;
}

h1 {
    font-size:4em ;
    font-family: 'Avenir Next', Verdana;
    font-weight: bold;
}

h1.actualScore {
    margin-top: 0;
    letter-spacing: -10px;
}

h1.title {
    margin-top: 10;
    letter-spacing: -5px;
}

h1 strong {
    font-size: 1.35em;
    display: inline-block;
    margin: 0 0.25em
}

.gameOptions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 0.5rem;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem; 
}

.control-text {
  display: flex;
  text-align: left;
  flex-direction: column;
  line-height: 0.2;
  margin-left: 0.5rem;
}

.divider {
    padding: 0 0.5rem;
    font-weight: bold;
}