body {
            background: #28639e;
            text-align: center;
        }

        canvas {
            border: 10px solid  #031527
        }

        h1 {
            font-size:4em ;
            font-family: 'Avenir Next', Verdana;
            font-weight: bold;
            margin-top: 0;
            letter-spacing: -10px;
        }

        h1 strong {
            font-size: 1.35em;
            display: inline-block;
            margin: 0 0.25em
        }

        .gameOptions {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            padding-bottom: 0.5rem;
        }

        .divider {
            padding: 0 0.5rem;
            font-weight: bold;
        }